* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2', sans-serif; 
}

body, html {
    height: 100%;
    background-color:#FFF6EC;
}

.header{
    background-image: url(/images/minimilistic.jpeg);
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navigation {
    padding-top: .50%;
    display: flex;
    justify-content: space-around;
    font-family: 'Acme', sans-serif;
    padding-bottom: 15%;
    font-family: 'Exo 2', sans-serif; 
}

h1 {
    font-size: 500%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
}

.slogan {
    font-size: 150%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
}

.learn {
    font-size: 100%;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 1% 2% 1%;
    border-radius: 25px;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
}
/* The header/Navigation stops from here */

.title{
    text-align: center;
    padding: 3% 0 3%;
    font-size: 375%;
    background-color: white;
    margin:2%; 
}

.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skin-care {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:#FFF6EC;
}

.product-container {
    width:33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.product-img-wrap {
    height:10%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
} 

.product-info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 15%;
    margin-right: 10%;
    padding: 3%;
}

.product-sell {
   font-size: 120%;
   font-weight: bolder;
}

.glycolic {
    width: 50%;
}

.nia {
    width: 50%;
}

.hyaluronic {
    width: 50%;
}

.HA {
    margin-top: 10%;
    width: 50%;
}

.eye1{
    margin-top: 15%;
    width: 47%;
}

.copper {
    margin-top: 15%;
    width: 50%;
}

.pink {
   width: 13%;
   margin-left: 19%;
   margin-top: 12%; 
}

.eye {
    width: 50%;
}

.hydrate {
    width: 55%;
}

.factors {
    width: 50%;
    margin-top: 5%;
}

.lash {
    width: 50%;
    margin-top: 5%;
}
.acid {
    width: 55%;
}

/* The footer's CSS starts from here */
.subscribe {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-color: #F2EBE1;
    padding-top: 5%;
}

.sub_head {
    font-size: 300%;
    margin: 5% 0 3%;
}

.update {
    font-size: 250%;
    margin-bottom: 3%;
}

.email {
    padding: 1% 5% 1%;
    font-family: 'Exo 2', sans-serif;
}

.signUp {
    padding: 1%;
    margin-bottom: 5%;
 }

.footer {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Exo 2', sans-serif;
    padding-top: 1%;
    font-size: 125%;
    text-align: center;
    padding-bottom: 10%;
    background-color: #F2EBE1;
}

@media only screen and (max-width: 968px) {
    h1{
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        padding-bottom: 12%;
    }
    .slogan {
        padding-top: 5%;
        margin-bottom: 5%;
    }
    .product-container{
        width: 50%;
    }
    .footer{
        font-size: 100%;
    } 
    .sub_head{
        font-size: 225%;
    }
    .update{
        font-size: 150%;
    }
}

@media only screen and (max-width: 560px) {
    .footer {
        display: inherit;
        font-size: 130%;
    }
    .Location, .hours, .info {
        padding: 3%;
        background-color:#F2EBE1;
    }
    .sub_head{
        font-size: 230;
    }
}

@media only screen and (max-width: 414px) {
    .slogan{
        padding-top: 10%;
        font-size: 120%;
    }
}

@media only screen and (max-width: 375px) {
   h1{
    font-size: 350%;
   }
    .product-container {
    width: 100%;
   }
   .slogan{
    font-size: 90%;
   }
}



