* {
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
    font-family: 'Exo 2', sans-serif; 
}

.header{
    background-image: url(/images/minimilistic.jpeg);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.navigation {
    padding-top: .50%;
    display: flex;
    justify-content: space-around;
    font-family: 'Acme', sans-serif;
    padding-bottom: 15%;
    font-family: 'Exo 2', sans-serif; 
}

h1 {
    font-size: 500%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
}

.slogan {
    font-size: 150%;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
}

.learn {
    font-size: 100%;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 1% 2% 1%;
    border-radius: 25px;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'Exo 2', sans-serif; 
}

a {
    text-decoration: none;
    color: black;
}
/* The header/Navigation stops from here */

/* Start of the Contact form */

main {
display: flex;
justify-content: space-evenly;
}

.contact-us {
    width: 40%;
    height: 70%;
    background-color:#FFF6EC;
    margin: 1% 1% 1%;
    padding: 1% 1% 1%;
}

.contact {
    text-align: center;
    padding: 7%;
}

.form {
    font-size: 125%;
}

.contact-heading {
    font-size: 250%;
}

.input{
    width: 97%;
    padding: 1%;
    margin-bottom: 1%;
}

#email{
    width: 97%;
    padding: 1%;
    margin-bottom: 1%;
}

.send {
    font-family: 'Exo 2', sans-serif; 
    padding: 1% 2% 1%;
    margin-top: 2%;
    background-color: white;
}

textarea {
    width: 100%;
    height: 180px;
}

.oil{
    margin-top: 10%;
    width: 100%;
    height: 80%;
}



/* The footer's CSS starts from here */
.subscribe {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    background-color:#F2EBE1;
    padding-top: 5%;
}

.sub_head {
    font-size: 300%;
    margin: 5% 0 3%;
}

.update {
    font-size: 250%;
    margin-bottom: 3%;
}

.email {
    padding: 1% 5% 1%;
    font-family: 'Exo 2', sans-serif;
}

.signUp {
    padding: 1%;
    margin-bottom: 5%;
 }

.footer {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Exo 2', sans-serif;
    padding-top: 1%;
    font-size: 125%;
    text-align: center;
    padding-bottom: 10%;
    background-color: #F2EBE1;
}

@media only screen and (max-width: 900px) {
    .slogan{
        padding-top: 7%; 
    }
}

@media only screen and (max-width: 705px) {
    h1{
        font-size: 350%;
    }
    .slogan{
        font-size: 125%;
    }
    main {
        display: inherit;     
    } 
    .contact-us{
        width: 80%;
        margin: 5% 10% 5%;
    }
    .oil {
        width: 82%;
        margin-top: 0;
        margin-left: 10%;
        margin-bottom: 5%;
    }
    .sub_head{
        font-size: 250%;
    }
    .update{
        font-size: 175%;
    }
    .footer{
        font-size: 100%;
    }
}

@media only screen and (max-width: 553px) {
    .footer{
        display: inherit;
        background-color:#F2EBE1;
    }
    .Location, .hours, .info {
        padding: 3%;
        background-color:#F2EBE1;
    }
    .update{
        font-size: 150%;
    }
}

@media only screen and (max-width: 406px)  {
    .update{
        font-size: 125%;
    }
}
@media only screen and (max-width: 375px) {
    h1{
        font-size: 300%;
    }
}